
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Building Models &#8212; 竜 TatSu 5.5.0 documentation</title>
    <link rel="stylesheet" href="_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="_static/pygments.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="_static/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="https://assets.readthedocs.org/static/css/badge_only.css" />
    <script type="text/javascript" id="documentation_options" data-url_root="./" src="_static/documentation_options.js"></script>
    <script type="text/javascript" src="_static/jquery.js"></script>
    <script type="text/javascript" src="_static/underscore.js"></script>
    <script type="text/javascript" src="_static/doctools.js"></script>
    <script type="text/javascript" src="_static/language_data.js"></script>
    <script type="text/javascript" src="https://assets.readthedocs.org/static/javascript/readthedocs-doc-embed.js"></script>
    <link rel="index" title="Index" href="genindex.html" />
    <link rel="search" title="Search" href="search.html" />
    <link rel="next" title="Left Recursion" href="left_recursion.html" />
    <link rel="prev" title="Semantic Actions" href="semantics.html" />
   
  <link rel="stylesheet" href="_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  
<!-- RTD Extra Head -->

<!-- 
Always link to the latest version, as canonical.
http://docs.readthedocs.org/en/latest/canonical.html
-->
<link rel="canonical" href="models.html" />

<link rel="stylesheet" href="https://assets.readthedocs.org/static/css/readthedocs-doc-embed.css" type="text/css" />

<script type="text/javascript" src="_static/readthedocs-data.js"></script>

<!-- Add page-specific data, which must exist in the page js, not global -->
<script type="text/javascript">
READTHEDOCS_DATA['page'] = "models"
READTHEDOCS_DATA['source_suffix'] = ".rst"
</script>

<script type="text/javascript" src="https://assets.readthedocs.org/static/javascript/readthedocs-analytics.js"></script>

<!-- end RTD <extrahead> -->
</head><body>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="building-models">
<h1>Building Models<a class="headerlink" href="models.html#building-models" title="Permalink to this headline">¶</a></h1>
<p>Naming elements in grammar rules makes the parser discard uninteresting
parts of the input, like punctuation, to produce an <em>Abstract Syntax
Tree</em> (<a class="reference external" href="http://en.wikipedia.org/wiki/Abstract_syntax_tree">AST</a>) that reflects the semantic structure of what was parsed.
But an <a class="reference external" href="http://en.wikipedia.org/wiki/Abstract_syntax_tree">AST</a> doesn’t carry information about the rule that generated
it, so navigating the trees may be difficult.</p>
<p>竜 <strong>TatSu</strong> defines the <code class="docutils literal notranslate"><span class="pre">tatsu.model.ModelBuilderSemantics</span></code> semantics
class which helps construct object models from abtract syntax trees:</p>
<div class="code python highlight-default notranslate"><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">tatsu.model</span> <span class="k">import</span> <span class="n">ModelBuilderSemantics</span>

<span class="n">parser</span> <span class="o">=</span> <span class="n">MyParser</span><span class="p">(</span><span class="n">semantics</span><span class="o">=</span><span class="n">ModelBuilderSemantics</span><span class="p">())</span>
</pre></div>
</div>
<p>Then you add the desired node type as first parameter to each grammar
rule:</p>
<div class="code ocaml highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">addition</span><span class="p">::</span><span class="n">AddOperator</span> <span class="o">=</span> <span class="n">left</span><span class="p">:</span><span class="n">mulexpre</span> <span class="s1">&#39;+&#39;</span> <span class="n">right</span><span class="p">:</span><span class="n">addition</span> <span class="p">;</span>
</pre></div>
</div>
<p><code class="docutils literal notranslate"><span class="pre">ModelBuilderSemantics</span></code> will synthesize a <code class="docutils literal notranslate"><span class="pre">class</span> <span class="pre">AddOperator(Node):</span></code>
class and use it to construct the node. The synthesized class will have
one attribute with the same name as the named elements in the rule.</p>
<p>You can also use <a class="reference external" href="http://python.org">Python</a>’s built-in types as node types, and
<code class="docutils literal notranslate"><span class="pre">ModelBuilderSemantics</span></code> will do the right thing:</p>
<div class="code ocaml highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">integer</span><span class="p">::</span><span class="nb">int</span> <span class="o">=</span> <span class="o">/</span><span class="p">[</span><span class="mi">0</span><span class="o">-</span><span class="mi">9</span><span class="p">]</span><span class="o">+/</span> <span class="p">;</span>
</pre></div>
</div>
<p><code class="docutils literal notranslate"><span class="pre">ModelBuilderSemantics</span></code> acts as any other semantics class, so its
default behavior can be overidden by defining a method to handle the
result of any particular grammar rule.</p>
<div class="section" id="walking-models">
<h2>Walking Models<a class="headerlink" href="models.html#walking-models" title="Permalink to this headline">¶</a></h2>
<p>The class <code class="docutils literal notranslate"><span class="pre">tatsu.model.NodeWalker</span></code> allows for the easy traversal
(<em>walk</em>) a model constructed with a <code class="docutils literal notranslate"><span class="pre">ModelBuilderSemantics</span></code> instance:</p>
<div class="code python highlight-default notranslate"><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">tatsu.model</span> <span class="k">import</span> <span class="n">NodeWalker</span>

<span class="k">class</span> <span class="nc">MyNodeWalker</span><span class="p">(</span><span class="n">NodeWalker</span><span class="p">):</span>

    <span class="k">def</span> <span class="nf">walk_AddOperator</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">node</span><span class="p">):</span>
        <span class="n">left</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">walk</span><span class="p">(</span><span class="n">node</span><span class="o">.</span><span class="n">left</span><span class="p">)</span>
        <span class="n">right</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">walk</span><span class="p">(</span><span class="n">node</span><span class="o">.</span><span class="n">right</span><span class="p">)</span>

        <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;ADDED&#39;</span><span class="p">,</span> <span class="n">left</span><span class="p">,</span> <span class="n">right</span><span class="p">)</span>

<span class="n">model</span> <span class="o">=</span> <span class="n">MyParser</span><span class="p">(</span><span class="n">semantics</span><span class="o">=</span><span class="n">ModelBuilderSemantics</span><span class="p">())</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="nb">input</span><span class="p">)</span>

<span class="n">walker</span> <span class="o">=</span> <span class="n">MyNodeWalker</span><span class="p">()</span>
<span class="n">walker</span><span class="o">.</span><span class="n">walk</span><span class="p">(</span><span class="n">model</span><span class="p">)</span>
</pre></div>
</div>
<p>When a method with a name like <code class="docutils literal notranslate"><span class="pre">walk_AddOperator()</span></code> is defined, it
will be called when a node of that type is <em>walked</em>. The <em>pythonic</em>
version of the class name may also be used for the <em>walk</em> method:
<code class="docutils literal notranslate"><span class="pre">walk__add_operator()</span></code> (note the double underscore).</p>
<p>If a <em>walk</em> method for a node class is not found, then a method for the
class’s bases is searched, so it is possible to write <em>catch-all</em>
methods such as:</p>
<div class="code python highlight-default notranslate"><div class="highlight"><pre><span></span><span class="k">def</span> <span class="nf">walk_Node</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">node</span><span class="p">):</span>
    <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;Reached Node&#39;</span><span class="p">,</span> <span class="n">node</span><span class="p">)</span>

<span class="k">def</span> <span class="nf">walk_str</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">s</span><span class="p">):</span>
    <span class="k">return</span> <span class="n">s</span>

<span class="k">def</span> <span class="nf">walk_object</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">o</span><span class="p">):</span>
    <span class="k">raise</span> <span class="ne">Exception</span><span class="p">(</span><span class="s1">&#39;Unexpected tyle </span><span class="si">%s</span><span class="s1"> walked&#39;</span><span class="p">,</span> <span class="nb">type</span><span class="p">(</span><span class="n">o</span><span class="p">)</span><span class="o">.</span><span class="vm">__name__</span><span class="p">)</span>
</pre></div>
</div>
<p>Predeclared classes can be passed to <code class="docutils literal notranslate"><span class="pre">ModelBuilderSemantics</span></code> instances
through the <code class="docutils literal notranslate"><span class="pre">types=</span></code> parameter:</p>
<div class="code python highlight-default notranslate"><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">mymodel</span> <span class="k">import</span> <span class="n">AddOperator</span><span class="p">,</span> <span class="n">MulOperator</span>

<span class="n">semantics</span><span class="o">=</span><span class="n">ModelBuilderSemantics</span><span class="p">(</span><span class="n">types</span><span class="o">=</span><span class="p">[</span><span class="n">AddOperator</span><span class="p">,</span> <span class="n">MulOperator</span><span class="p">])</span>
</pre></div>
</div>
<p><code class="docutils literal notranslate"><span class="pre">ModelBuilderSemantics</span></code> assumes nothing about <code class="docutils literal notranslate"><span class="pre">types=</span></code>, so any
constructor (a function, or a partial function) can be used.</p>
</div>
<div class="section" id="model-class-hierarchies">
<h2>Model Class Hierarchies<a class="headerlink" href="models.html#model-class-hierarchies" title="Permalink to this headline">¶</a></h2>
<p>It is possible to specify a a base class for generated model nodes:</p>
<div class="code ocaml highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">additive</span>
    <span class="o">=</span>
    <span class="o">|</span> <span class="n">addition</span>
    <span class="o">|</span> <span class="n">substraction</span>
    <span class="p">;</span>

<span class="n">addition</span><span class="p">::</span><span class="n">AddOperator</span><span class="p">::</span><span class="n">Operator</span>
    <span class="o">=</span>
    <span class="n">left</span><span class="p">:</span><span class="n">mulexpre</span> <span class="n">op</span><span class="p">:</span><span class="s1">&#39;+&#39;</span> <span class="n">right</span><span class="p">:</span><span class="n">additive</span>
    <span class="p">;</span>

<span class="n">substraction</span><span class="p">::</span><span class="n">SubstractOperator</span><span class="p">::</span><span class="n">Operator</span>
    <span class="o">=</span>
    <span class="n">left</span><span class="p">:</span><span class="n">mulexpre</span> <span class="n">op</span><span class="p">:</span><span class="s1">&#39;-&#39;</span> <span class="n">right</span><span class="p">:</span><span class="n">additive</span>
    <span class="p">;</span>
</pre></div>
</div>
<p>竜 <strong>TatSu</strong> will generate the base class if it’s not already known.</p>
<p>Base classes can be used as the target class in <em>walkers</em>, and in <em>code
generators</em>:</p>
<div class="code python highlight-default notranslate"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">MyNodeWalker</span><span class="p">(</span><span class="n">NodeWalker</span><span class="p">):</span>
    <span class="k">def</span> <span class="nf">walk_Operator</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">node</span><span class="p">):</span>
        <span class="n">left</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">walk</span><span class="p">(</span><span class="n">node</span><span class="o">.</span><span class="n">left</span><span class="p">)</span>
        <span class="n">right</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">walk</span><span class="p">(</span><span class="n">node</span><span class="o">.</span><span class="n">right</span><span class="p">)</span>
        <span class="n">op</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">walk</span><span class="p">(</span><span class="n">node</span><span class="o">.</span><span class="n">op</span><span class="p">)</span>

        <span class="nb">print</span><span class="p">(</span><span class="nb">type</span><span class="p">(</span><span class="n">node</span><span class="p">)</span><span class="o">.</span><span class="vm">__name__</span><span class="p">,</span> <span class="n">op</span><span class="p">,</span> <span class="n">left</span><span class="p">,</span> <span class="n">right</span><span class="p">)</span>


<span class="k">class</span> <span class="nc">Operator</span><span class="p">(</span><span class="n">ModelRenderer</span><span class="p">):</span>
    <span class="n">template</span> <span class="o">=</span> <span class="s1">&#39;</span><span class="si">{left}</span><span class="s1"> </span><span class="si">{op}</span><span class="s1"> </span><span class="si">{right}</span><span class="s1">&#39;</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="templates-and-translation">
<h1>Templates and Translation<a class="headerlink" href="models.html#templates-and-translation" title="Permalink to this headline">¶</a></h1>
<dl class="docutils">
<dt><strong>note</strong></dt>
<dd>As of 竜 <strong>TatSu</strong> 3.2.0, code generation is separated from grammar
models through <code class="docutils literal notranslate"><span class="pre">tatsu.codegen.CodeGenerator</span></code> as to allow for code
generation targets different from <a class="reference external" href="http://python.org">Python</a>. Still, the use of
inline templates and <code class="docutils literal notranslate"><span class="pre">rendering.Renderer</span></code> hasn’t changed. See the
<em>regex</em> example for merged modeling and code generation.</dd>
</dl>
<p>竜 <strong>TatSu</strong> doesn’t impose a way to create translators with it, but it
exposes the facilities it uses to generate the <a class="reference external" href="http://python.org">Python</a> source code for
parsers.</p>
<p>Translation in 竜 <strong>TatSu</strong> is <em>template-based</em>, but instead of defining or
using a complex templating engine (yet another language), it relies on
the simple but powerful <code class="docutils literal notranslate"><span class="pre">string.Formatter</span></code> of the <a class="reference external" href="http://python.org">Python</a> standard
library. The templates are simple strings that, in 竜 <strong>TatSu</strong>’s style,
are inlined with the code.</p>
<p>To generate a parser, 竜 <strong>TatSu</strong> constructs an object model of the parsed
grammar. A <code class="docutils literal notranslate"><span class="pre">tatsu.codegen.CodeGenerator</span></code> instance matches model
objects to classes that descend from <code class="docutils literal notranslate"><span class="pre">tatsu.codegen.ModelRenderer</span></code> and
implement the translation and rendering using string templates.
Templates are left-trimmed on whitespace, like <a class="reference external" href="http://python.org">Python</a> <em>doc-comments</em>
are. This is an example taken from 竜 <strong>TatSu</strong>’s source code:</p>
<div class="code python highlight-default notranslate"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">Lookahead</span><span class="p">(</span><span class="n">ModelRenderer</span><span class="p">):</span>
    <span class="n">template</span> <span class="o">=</span> <span class="s1">&#39;&#39;&#39;</span><span class="se">\</span>
<span class="s1">                with self._if():</span>
<span class="s1">                {exp:1::}</span><span class="se">\</span>
<span class="s1">                &#39;&#39;&#39;</span>
</pre></div>
</div>
<p>Every <em>attribute</em> of the object that doesn’t start with an underscore
(<code class="docutils literal notranslate"><span class="pre">_</span></code>) may be used as a template field, and fields can be added or
modified by overriding the <code class="docutils literal notranslate"><span class="pre">render_fields(fields)</span></code> method. Fields
themselves are <em>lazily rendered</em> before being expanded by the template,
so a field may be an instance of a <code class="docutils literal notranslate"><span class="pre">ModelRenderer</span></code> descendant.</p>
<p>The <code class="docutils literal notranslate"><span class="pre">rendering</span></code> module defines a <code class="docutils literal notranslate"><span class="pre">Formatter</span></code> enhanced to support the
rendering of items in an <em>iterable</em> one by one. The syntax to achieve
that is:</p>
<div class="code python highlight-default notranslate"><div class="highlight"><pre><span></span><span class="sd">&#39;&#39;&#39;</span>
<span class="sd">{fieldname:ind:sep:fmt}</span>
<span class="sd">&#39;&#39;&#39;</span>
</pre></div>
</div>
<p>All of <code class="docutils literal notranslate"><span class="pre">ind</span></code>, <code class="docutils literal notranslate"><span class="pre">sep</span></code>, and <code class="docutils literal notranslate"><span class="pre">fmt</span></code> are optional, but the three
<em>colons</em> are not. A field specified that way will be rendered using:</p>
<div class="code python highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">indent</span><span class="p">(</span><span class="n">sep</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">fmt</span> <span class="o">%</span> <span class="n">render</span><span class="p">(</span><span class="n">v</span><span class="p">)</span> <span class="k">for</span> <span class="n">v</span> <span class="ow">in</span> <span class="n">value</span><span class="p">),</span> <span class="n">ind</span><span class="p">)</span>
</pre></div>
</div>
<p>The extended format can also be used with non-iterables, in which case
the rendering will be:</p>
<div class="code python highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">indent</span><span class="p">(</span><span class="n">fmt</span> <span class="o">%</span> <span class="n">render</span><span class="p">(</span><span class="n">value</span><span class="p">),</span> <span class="n">ind</span><span class="p">)</span>
</pre></div>
</div>
<p>The default multiplier for <code class="docutils literal notranslate"><span class="pre">ind</span></code> is <code class="docutils literal notranslate"><span class="pre">4</span></code>, but that can be overridden
using <code class="docutils literal notranslate"><span class="pre">n*m</span></code> (for example <code class="docutils literal notranslate"><span class="pre">3*1</span></code>) in the format.</p>
<dl class="docutils">
<dt><strong>note</strong></dt>
<dd>Using a newline character (<code class="docutils literal notranslate"><span class="pre">\n</span></code>) as separator will interfere with
left trimming and indentation of templates. To use a newline as
separator, specify it as <code class="docutils literal notranslate"><span class="pre">\\n</span></code>, and the renderer will understand
the intention.</dd>
</dl>
</div>


          </div>
          
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
<h3><a href="index.html">Table of Contents</a></h3>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="intro.html">Introduction</a></li>
<li class="toctree-l1"><a class="reference internal" href="rationale.html">Rationale</a></li>
<li class="toctree-l1"><a class="reference internal" href="install.html">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="use.html">Using the Tool</a></li>
<li class="toctree-l1"><a class="reference internal" href="syntax.html">Grammar Syntax</a></li>
<li class="toctree-l1"><a class="reference internal" href="directives.html">Grammar Directives</a></li>
<li class="toctree-l1"><a class="reference internal" href="ast.html">Abstract Syntax Trees (ASTs)</a></li>
<li class="toctree-l1"><a class="reference internal" href="semantics.html">Semantic Actions</a></li>
<li class="toctree-l1 current"><a class="current reference internal" href="models.html#">Building Models</a><ul>
<li class="toctree-l2"><a class="reference internal" href="models.html#walking-models">Walking Models</a></li>
<li class="toctree-l2"><a class="reference internal" href="models.html#model-class-hierarchies">Model Class Hierarchies</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="models.html#templates-and-translation">Templates and Translation</a></li>
<li class="toctree-l1"><a class="reference internal" href="left_recursion.html">Left Recursion</a></li>
<li class="toctree-l1"><a class="reference internal" href="mini-tutorial.html"><cite>Calc</cite> Mini Tutorial</a></li>
<li class="toctree-l1"><a class="reference internal" href="traces.html">Traces</a></li>
<li class="toctree-l1"><a class="reference internal" href="grako.html">Grako Compatibility</a></li>
<li class="toctree-l1"><a class="reference internal" href="antlr.html">Using ANTLR Grammars</a></li>
<li class="toctree-l1"><a class="reference internal" href="examples.html">Examples</a></li>
<li class="toctree-l1"><a class="reference internal" href="support.html">Support</a></li>
<li class="toctree-l1"><a class="reference internal" href="credits.html">Credits</a></li>
<li class="toctree-l1"><a class="reference internal" href="contributors.html">Contributors</a></li>
<li class="toctree-l1"><a class="reference internal" href="contributing.html">Contributing</a></li>
<li class="toctree-l1"><a class="reference internal" href="license.html">License</a></li>
</ul>
<div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="index.html">Documentation overview</a><ul>
      <li>Previous: <a href="semantics.html" title="previous chapter">Semantic Actions</a></li>
      <li>Next: <a href="left_recursion.html" title="next chapter">Left Recursion</a></li>
  </ul></li>
</ul>
</div>
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="_sources/models.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2017-2019 Juancarlo Añez.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.8.5</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.12</a>
      
      |
      <a href="_sources/models.rst.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>